.Signup form {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 15px;
}
.Signup form label,
.Signup form button {
  margin-top: 15px;
}

.Signup form label {
  font-size: 20px;
  text-align: left;
}

.Signup form input {
  flex: 1 1 auto;
  font-size: 20px;
  padding: 0.5em;
  border-radius: 5px;
}
.Signup form input:focus {
  outline: none;
}

.Signup button {
  padding: 1em;
  background-color: blue;
  border-radius: 8px;
  color: white;
}
.Signup button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.Signup button:hover {
  background-color: #4caf50; /* Green */
}

@media all and (min-width: 480px) {
  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
