.layout {
  margin: 0 auto;
  max-width: 1200px;
}
.contactInfo > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em;
}

.paymentStatus {
  display: flex;
  flex-direction: column;
  border: 1px dotted grey;
  margin: 1em;
  padding: 1em;
}

.approvedPayment {
  background: var(--success-light);
}

.unknownPayment {
  background: var(--danger-light);
}

.paymentButton {
  padding: 1em;
}
