{
  "presets": ["flow"],
  "plugins": ["transform-object-rest-spread", "transform-runtime"],
  "env": {
    "production": {
      "presets": ["env"],
      "ignore": ["**/*.spec.js"]
    },
    "lambda": {
      "presets": [["env", { "targets": { "node": "8.10" } }]]
    },
    "test": {
      "presets": [["env", { "targets": { "node": "current" } }]]
    }
  }
}
