{
  "parser": "babel-eslint",
  "extends": ["prettier", "plugin:flowtype/recommended"],
  "plugins": ["prettier", "flowtype"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ],
    "flowtype/space-after-type-colon": [
      "error",
      "always",
      {
        "allowLineBreak": true
      }
    ]
  }
}
