.fadedLine {
  margin: 0;
  height: 1px;
  border: 0;
  background: black;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(white),
    to(white),
    color-stop(50%, black)
  );
}
