.AdminActionsMenu {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  display: flex;
  flex: 0 1 auto;
  flex-flow: column nowrap;
  text-align: left;
}
.AdminActionsHeader {
  background-color: rgba(221, 221, 221, 0.8);
  padding: 0.5em;
}

.AdminActionIcon {
  padding: 0.2em;
}

.AdminAction {
  border: 1px solid rgb(221, 221, 221);
  color: #555;
  margin: 0 0.5em;
  padding: 0.5em;
  text-decoration: none;
}

.AdminAction:hover {
  color: black;
}

.AdminAction:nth-child(2) {
  border-radius: 10px 10px 0 0;
  margin-top: 0.7em;
}

.AdminAction:last-child {
  border-radius: 0 0 10px 10px;
  margin-bottom: 0.7em;
}
