.Footer {
  background-color: black;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
}

.FooterCopyRight {
  align-self: center;
}
.FooterContent {
  flex: 1 0 auto;
}

.FooterSocialMedia {
  align-self: flex-end;
  color: black;
}

.FooterSocialMediaIcon {
  align-self: flex-end;
  color: black;
}
