.PlansContainer {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: center;
}

.PlansShow {
  display: flex;
  flex-flow: column nowrap;
}

.ShowPlansTitle {
  text-transform: capitalize;
}

.PlanName {
  border: 1px solid black;
  padding: 10px;
  margin: 0.5em;
}

.PlanName:hover {
  background-color: var(--info-light);
}
