.AdminDashboardLayout {
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
}

.AdminDashboardLayout > div {
  margin: 5px;
}

.DashboardTitle {
  margin-left: 1em;
  text-align: left;
}

@supports (display: grid) {
  @media (min-width: 800px) {
    .AdminDashboardLayout {
      display: grid;
      grid-gap: 0.5em;
      grid-template-columns: repeat(2, 1fr);
    }
    .AdminStatistic {
    }
  }
  @media (min-width: 1000px) {
    .AdminDashboardLayout {
      grid-template-columns: repeat(4, 1fr);
    }
    .AdminStatistic {
      order: 0;
      grid-column: 1/4;
    }
  }
}
